body {
  background: #f7fbfd;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #263238;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1180px;
  margin: 32px auto 0 auto;
  padding: 0 18px;
}

h1, h2 {
  color: #2d97b8;
  text-align: center;  /* Esto centra todos los h1 y h2 */
  font-weight: 800;
  letter-spacing: 0.02em;
  margin-bottom: 18px;
  margin-top: 38px;
  font-family: 'Montserrat', Arial, sans-serif;
}

/* Ajustes de tamaño individuales si quieres */
h1 {
  font-size: 2.2rem;
  margin-top: 38px;
}

h2 {
  font-size: 2rem;
  margin-top: 55px;
}


p {
  font-size: 1.08rem;
  line-height: 1.6;
  color: #3b3b3b;
  margin-top: 0;
}

.materiales-contenedor {
  display: flex;
  gap: 36px;
  margin-top: 14px;
  flex-wrap: wrap;
}

.grupo-material {
  background: #eaf5fa;
  padding: 12px 26px;
  border-radius: 12px;
  min-width: 180px;
  box-shadow: 0 2px 14px rgba(45,151,184,0.08);
}

.grupo-material h4 {
  margin: 0 0 7px 0;
  color: #2d97b8;
  font-weight: 700;
  font-size: 1.08rem;
}

.grupo-material ul {
  list-style: disc inside;
  padding-left: 0;
  margin: 0;
}

.grupo-material li {
  margin-bottom: 3px;
  font-size: 1.05rem;
}


img[alt="Implante craneal"] {
  box-shadow: 0 4px 16px rgba(45,151,184,0.08);
  border-radius: 10px;
  margin-bottom: 16px;
}

