/* ======== FOOTER ======== */
footer {
  background: #222f37;
  color: #fff;
  text-align: center;
  padding: 34px 8px 20px 8px;
  margin-top: 55px;
}
.footer-content {
  max-width: 800px;
  margin: auto;
}
.footer-content img {
  height: 45px;
  margin-bottom: 12px;
}
.footer-content p, .footer-content a {
  color: #fff;
  font-size: 1.01rem;
  margin: 0 5px;
  text-decoration: none;
  opacity: 0.88;
}
.footer-content a:hover {
  text-decoration: underline;
  color: #2d97b8;
}

.footer-icons {
  margin: 10px 0;
}

.footer-icons img {
  height: 24px;
  margin: 0 12px;
}

.footer-logo {
  height: 50px;
  margin-bottom: 10px;
}
